<a href="https://colab.research.google.com/github/rumiyamaheen40-ai/weather-automation-with-using-voice-assistant-/blob/main/minor_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Rules followed in Python


Python is a case-sensitive language

Indentation is mandatory

No need to declare variable type

Statements end without semicolon

Comments start with #

Variables must start with a letter or _

Keywords cannot be used as variable names

Python supports object-oriented programming


Code is executed line by line

Python uses dynamic typing

2) Applications of Python

Web development

Data Science

Machine Learning

Artificial Intelligence

Automation / Scripting

Game development

Desktop applications

Cyber security

IoT applications

Scientific computing

3) Python Concepts
a) Datatypes

In [5]:
int, float, complex, str, list, tuple, set, dict, bool, None

(int, float, complex, str, list, tuple, set, dict, bool, None)

b) Operators

In [7]:
('+', '-', '*', '/', '%', '**', '//', '==', '!=', '>')

('+', '-', '*', '/', '%', '**', '//', '==', '!=', '>')

c) Math Functions

In [9]:
('abs()', 'pow()', 'round()', 'max()', 'min()', 'sum()',
'sqrt()', 'ceil()', 'floor()', 'factorial()')

('abs()',
 'pow()',
 'round()',
 'max()',
 'min()',
 'sum()',
 'sqrt()',
 'ceil()',
 'floor()',
 'factorial()')

4) Cricket Tournament – Total Points

In [10]:
wins = 4
draws = 1
losses = 3

points = (wins * 10) + (draws * 1)
print("Total points scored by Team A:", points)

Total points scored by Team A: 41

5) Root of a Function

Given:
f(x) = x² + 3x + 4

In [11]:
def f(x):
    return x**2 + 3*x + 4

values = [-2, -1, 1]
for x in values:
    print(f"f({x}) =", f(x))

f(-2) = 2
f(-1) = 2
f(1) = 8

6) Percentage of Fruits

In [12]:
apples = 45
oranges = 65
bananas = 30

total = apples + oranges + bananas

print("Apple %:", (apples/total)*100)
print("Orange %:", (oranges/total)*100)
print("Banana %:", (bananas/total)*100)

Apple %: 32.142857142857146
Orange %: 46.42857142857143
Banana %: 21.428571428571427

7) Swap Highest & Lowest Temperature

In [13]:
temps = [28, 32, 25, 30, 35, 27, 29]

highest = max(temps)
lowest = min(temps)

hi = temps.index(highest)
lo = temps.index(lowest)

temps[hi], temps[lo] = temps[lo], temps[hi]

print("Updated temperatures:", temps)

Updated temperatures: [28, 32, 35, 30, 25, 27, 29]

8) Mean of Numbers

In [14]:
numbers = [10, 20, 30, 40, 50]
mean = sum(numbers) / len(numbers)
print("Mean:", mean)

Mean: 30.0

9) Median of Numbers

In [15]:
numbers = [10, 20, 30, 40, 50]
numbers.sort()

n = len(numbers)
if n % 2 != 0:
    median = numbers[n//2]
else:
    median = (numbers[n//2 - 1] + numbers[n//2]) / 2

print("Median:", median)

Median: 30

10) Dictionary Program

In [16]:
data = {"name": "Alex", "age": 21}
key = "employee_id"

if key in data:
    data.pop(key)
else:
    data[key] = 4503233

print("Updated dictionary:", data)

Updated dictionary: {'name': 'Alex', 'age': 21, 'employee_id': 4503233}

11) Remove Nested List

In [17]:
tech_companies = ['Qualcomm', ['Google','Apple','Nvidia'], 'Cisco', 'Samsung']

nested = tech_companies[1]
correct_list = [tech_companies[0]] + nested + tech_companies[2:]

print("Correct tech companies:", correct_list)

Correct tech companies: ['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']